@{var cookie = Request.Cookies["LogOn"];}
@if (cookie != null)
{
    <text>
        Hello, @{  string value = cookie.Value; @Html.Raw(value)}!
        @using (Html.BeginForm("LogOut", "Start", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
        }
    </text>
}else {
    <ul>
        <li>@Html.ActionLink("Zarejestruj", "Register", "Start", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj", "Index", "Start", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

