@model List<Scheduler.Site.Models.ProjectAndGroupRealizationList>
@{
    ViewBag.Title = "ProjectsList";
}

<table>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ProjectName</td>
            <td>@x.GroupName</td>
            <td><a href="@Url.Action("TasksInProject", "Menager", new {ProjectId = x.ProjectId, GroupId = x.GroupId})">Widok zadań</a></td>
        </tr>    
    }
</table>
