@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<li>@Html.ActionLink("Użytkownicy", "Index", "User", null, null)</li>
<li>@Html.ActionLink("Zadania", "Index", "Tasks")</li>
<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
