@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<li>@Html.RouteLink("Użytkownicy", "SearchUsers", new { controller = "User", action = "Index"}, null)</li>
<li>@Html.RouteLink("Zadania", "SearchTasks", new { controller = "Task", action = "Index"}, null)</li>
<li>@Html.RouteLink("Wiadomości", "SearchMessages", new { controller = "Message", action = "Index"}, null)</li>
