@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<li>@Html.RouteLink("Użytkownicy","Search", new { controller = "User", action = "Index"}, null)</li>
<li>@Html.RouteLink("Zadania", "Search", new { controller = "Task", action = "Index"}, null)</li>
<li>@Html.RouteLink("Wiadomości", "Search", new { controller = "Message", action = "Index"}, null)</li>
